.ipynb_checkpoints
.*.swp
*.pyc
outputs/*.json
outputs/*.h5
outputs/*.keras
outputs/*.log
*.c
*.so
samples_*/
results_*/
video_*/
dataset/*
outputs/*
comma-dataset.zip
paper/*.log
paper/*.out
paper/*.aux
paper/commalds.tex.backup
